<DOCTYPE html>
<html ng-app="app">
	<head>
		<title>Pokemon</title>
		<meta charset="utf-8">
		<script src="../js/lib/angular.js"></script>
		<script src="../js/lib/angular-route.js"></script>
		<script src="../js/lib/angular-resource.js"></script>
		<script src="../js/app.js"></script>
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body class="body__index">
	<div class="logo">
        <a href="#/page/0"><img src="https://1.bp.blogspot.com/-ULz9dE8cz20/V7ADa_msnAI/AAAAAAAABt8/AJOlI64e9yg3aRexEsfgCvVHJElIKk65gCPcB/s400/pokemon_go_logo.png" alt="PokemonGO"/>
    </div>
        
		<ng-view></ng-view>

	</body>
</html>