.body__index{
background-image:url(background/back.png);
color:#fff;
overflow:hidden;
}
 .menu {
	 list-style-type: none;
	 display:flex;
	 flex-direction:initial;
 }
  /* http://codepen.io/sazzad/pen/yNNNJG */

.menu__button:link, .menu__button:visited,.menu__button-active:link, .menu__button-active:visited{
	margin: 34px auto 0;
	padding: 17px 90px;
	font-size:14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em; 
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
}
.menu__button:link:after, .menu__button:visited:after,.menu__button-active:link:after, .menu__button-active:visited:after{
	/*content: "";*/
	position: absolute;
	height: 0%;
	left: 50%;
	top: 50%;
	width: 150%;
	z-index: -1;
	-webkit-transition: all 0.75s ease 0s;
	-moz-transition: all 0.75s ease 0s;
	-o-transition: all 0.75s ease 0s;
	transition: all 0.75s ease 0s;
}
.menu__button:link:hover, .menu__button:visited:hover,.menu__button-active:link:hover, .menu__button-active:visited:hover{
	/*color: #FFF;*/
	color:#f7ca18;
	text-shadow: none;
}
.menu__button:link:hover:after, .menu__button:visited:hover:after,.menu__button-active:link:hover:after, .menu__button-active:visited:hover:after{
	height: 450%;
}
.menu__button {
	color: #fff;
	bottom:128px;
	left:450px;
	text-decoration: none;
	display: block;
	position: relative;
	border: 2px solid #F7CA18;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
.menu__button-active {
	color: #fff;
	bottom:128px;
	left:450px;
	text-decoration: none;
	cursor: pointer;
	display: block;
	position: relative;
	border: 2px solid #F7CA18;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	pointer-events: none; 
    cursor: default; 
    color: #999; 
}
.menu:hover{
	color: #000 !important;
	background-color: transparent;
	//text-shadow: ntwo;
}
.menu:hover:before {
	top: 0%;
	bottom: auto;
	height: 100%;
}
.menu:before {
	display: block;
	position: absolute;
	left: 0px;
	bottom: 0px;
	height: 0px;
	width: 100%;
	z-index: -1;
	color: #000 !important;
	background: #F7CA18;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
.about__text1{
	position:relative;
    height: 80px;
    overflow: hidden;
    padding-left: 203px;
	text-align: justify;
	min-width:600px;
	max-width:600px;
	text-decoration: none;
	bottom: 50px;
	color: #fff;
}

.about__image{
	padding-left:205px;
	position: relative;
	bottom: 60px;
}
.button-start {
    border: 4px solid #F7CA18;
    display: inline-block;
    font-size: 18px;
    margin: 5px;
    color: #fff;
    text-decoration: none;
    position: relative;
    left: 550;
    top: 28;
    padding: 15;
}
.table{
	font-weight:bold;
	margin-left:550px;	
	position: relative;
	bottom: 60px;
}
.table li {
  padding: 0.1px 0 2px 1em;
  position: relative;
  margin-bottom: 0.4em;
  padding-left: 1em;
  color: #fff;
  text-decoration: none;
}
.pole{
    position: relative;
    width: 100%;
    height: 81.2%;
    border: 1px solid #F7CA18;
    background: #000;
}
.pokemon{
    position: relative;
}
