body {
	background: url(background/about_image.jpg);
	color:#FFF;
}
 #menu {
	 list-style-type: none;
	 display:flex;
	 flex-direction:initial;
 }
a.button:link, a.button:visited,a.button_diz:link, a.button_diz:visited{
	margin: 34px auto 0;
	padding: 17px 90px;
	font-size:14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	border-radius: 0;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
}
a.button:link:after, a.button:visited:after,a.button_diz:link:after, a.button_diz:visited:after{
	content: "";
	position: absolute;
	height: 0%;
	left: 50%;
	top: 50%;
	width: 150%;
	z-index: -1;
	-webkit-transition: all 0.75s ease 0s;
	-moz-transition: all 0.75s ease 0s;
	-o-transition: all 0.75s ease 0s;
	transition: all 0.75s ease 0s;
}
a.button:link:hover, a.button:visited:hover,a.button_diz:link:hover, a.button_diz:visited:hover{
	color: #FFF;
	text-shadow: none;
}
a.button:link:hover:after, a.button:visited:hover:after,a.button_diz:link:hover:after, a.button_diz:visited:hover:after {
	height: 450%;
}
a.button {
	color: #fff;
	cursor: pointer;
	display: block;
	position: relative;
	border: 2px solid #F7CA18;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
a.button_diz {
	color: #fff;
	cursor: pointer;
	display: block;
	position: relative;
	border: 2px solid #F7CA18;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	pointer-events: none; /* делаем ссылку некликабельной */
    cursor: default;  /* устанавливаем курсор в виде стрелки */
    color: #999; /* цвет текста для нективной ссылки */
}
a.button:hover ,a.button_diz:hover{
	color: #000 !important;
	background-color: transparent;
	text-shadow: ntwo;
}
a.button:hover:before,a.button_diz:hover:before {
	top: 0%;
	bottom: auto;
	height: 100%;
}
a.button:before,a.button_diz:before {
	display: block;
	position: absolute;
	left: 0px;
	bottom: 0px;
	height: 0px;
	width: 100%;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: #F7CA18;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
.textabout{
	position:relative;
    height: 80px;
    overflow: hidden;
    padding-left: 203px;
    padding-right: 543px;
	text-align: justify;
}
.textabout2{
	position:relative;
	height: 120px;
    overflow: hidden;
    padding-left: 200px;
    padding-right: 545px;
	text-align: justify;
}
.imageline{
	padding-left:205px;
}